*{
    margin: 0px;
    padding: 0px;
   }

   
   
   body{ width: 1000px;
    margin:0px auto;
    border:01px;
}

footer{
    background:black;
    color:navy;
    height: 03px;
}

.container img {width: 100%; height: 100%; border-radius: 10px 10px 10px 10px; }

.container1 img{ width: 50%; height: 100%; border-radius: 10px 10px 10px 10px;margin-left: 25%;
}


.col-md-8  { width: 100vw;
   
    font-size: 15px;
    text-align: justify;
    
}
 
.carousel-inner  {width: 100%; height: 500px;

}

.carousel-inner img {width: 100%; height: 500px;}

